@inherits LayoutComponentBase

@using WebVanChuyen.Web.Shared

<PageTitle>WebVanChuyen.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <LoginStatusPartial></LoginStatusPartial>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
